<div class="modal">
  <h3>Please select labels for filtering</h3>
  <form action="" id="filter-label-form" class="mg-top-2">
    <div class="form-input-fields flex">
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-10"
          value="Bug Fix"
          class="checkbox-labels"
        />
        <label for="checkbox-10">Bug Fix</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-20"
          value="Bug Fix"
          class="checkbox-labels"
        />
        <label for="checkbox-20">New Feature</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-30"
          value="Frontend"
          class="checkbox-labels"
        />
        <label for="checkbox-30">Frontend</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-40"
          value="Backend"
          class="checkbox-labels"
        />
        <label for="checkbox-40">Backend</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-50"
          value="Prod Issue"
          class="checkbox-labels"
        />
        <label for="checkbox-50">Prod Issue</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-60"
          value="Refinement"
          class="checkbox-labels"
        />
        <label for="checkbox-60">Refinement</label>
      </div>
      <div class="flex modal-checkbox">
        <input
          type="checkbox"
          name="checkbox-labels"
          id="checkbox-70"
          value="Documentation"
          class="checkbox-labels"
        />
        <label for="checkbox-70">Documentation</label>
      </div>
    </div>
    <button
      id="filter-labels-modal-btn"
      type="submit"
      onclick=""
      class="primary-btn secondary-btn mg-top-10"
    >
      Filter Labels
    </button>
  </form>
  <button
    id="filter-label-close-modal-btn"
    class="primary-btn delete-btn mg-top-10"
  >
    Close
  </button>
</div>
