<div class="modal">
  <h3>Please select Authors for filtering</h3>
  <form action="" id="populate-author-form" class="mg-top-2">
    <div id="populate-author-div">
      <!-- populate list of all authors here using javascript -->
    </div>
    <button
      id="filter-authors-modal-btn"
      type="submit"
      onclick=""
      class="primary-btn secondary-btn mg-top-10"
    >
      Filter Issues
    </button>
  </form>
  <button
    id="filter-authors-close-modal-btn"
    class="primary-btn delete-btn mg-top-10"
  >
    Close
  </button>
</div>
