<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker 🛠️</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="header-heading">
          <a href="/">
            <h3>Issue Tracker</h3>
          </a>
        </div>
        <div id="header-options">
          <button id="create-project-btn" class="primary-btn">
            Create New Project
          </button>
        </div>
      </header>

      <main>
        <div class="modal-container" id="modal-container">
          <div class="modal">
            <h3>Enter New Project Details</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              blanditiis, molestias laborum, adipisci eveniet molestiae est
              soluta accusamus odit veniam nisi tenetur, optio modi porro eum
              esse neque vero architecto?
            </p>
            <button id="create-project-close-modal-btn" class="primary-btn">
              Close
            </button>
          </div>
        </div>

        <h3><%= test%></h3>
      </main>

      <%- include('_footer') %>
      <script src="/js/home.js"></script>
    </div>
  </body>
</html>
