<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker 🛠️</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="header-heading">
          <a href="/">
            <h3>Issue Tracker</h3>
          </a>
        </div>
        <div id="header-options">
          <button id="create-project-btn" class="primary-btn">
            Create New Project
          </button>
        </div>
      </header>

      <main>
        <% if (projects.length === 0) { %>
        <div id="projects-display" class="flex no-projects-added">
          <div class="project-container flex">
            <div class="project-title">No Projects added yet !</div>
            <div class="project-description">
              Create Projects by clicking on top right Create New Project button
            </div>
          </div>
        </div>
        <% } else { %>
        <div id="projects-display" class="flex">
          <% for (project of projects) { %> <%-include('_project') %> <% } %>
        </div>
        <% } %>

        <div class="modal-container" id="modal-container">
          <%- include('_newProjectModal') %>
        </div>
      </main>

      <%- include('_footer') %>
      <script src="/js/home.js"></script>
    </div>
  </body>
</html>
