<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker 🛠️</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="header-heading">
          <a href="/">
            <h3>Issue Tracker</h3>
          </a>
        </div>
        <div id="header-options">
          <button id="create-project-btn" class="primary-btn">
            Create New Project
          </button>
        </div>
      </header>

      <main>
        <div id="projects-display" class="flex">
          <div class="project-container">
            <div class="project-title">Project 1</div>
            <div class="project-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              culpa quisquam labore quia vel similique fuga quam repellat,
              quaerat alias? Reiciendis cum voluptatum corporis ex quis
              recusandae exercitationem sint maiores?
            </div>
          </div>
          <div class="project-container">
            <div class="project-title">Project 1</div>
            <div class="project-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              culpa quisquam labore quia vel similique fuga quam repellat,
              quaerat alias? Reiciendis cum voluptatum corporis ex quis
              recusandae exercitationem sint maiores?
            </div>
          </div>
          <div class="project-container">
            <div class="project-title">Project 1</div>
            <div class="project-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              culpa quisquam labore quia vel similique fuga quam repellat,
              quaerat alias? Reiciendis cum voluptatum corporis ex quis
              recusandae exercitationem sint maiores?
            </div>
          </div>
          <div class="project-container">
            <div class="project-title">Project 1</div>
            <div class="project-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              culpa quisquam labore quia vel similique fuga quam repellat,
              quaerat alias? Reiciendis cum voluptatum corporis ex quis
              recusandae exercitationem sint maiores?
            </div>
          </div>
        </div>

        <div class="modal-container" id="modal-container">
          <div class="modal">
            <h3>Please Enter New Project Details</h3>
            <form action="/projects/create" method="post">
              <div class="form-input-fields flex">
                <h4>Project Title</h4>
                <input
                  id="project-title-input"
                  class="modal-inputs"
                  name="project-title"
                  required
                />
                <h4>Project Description</h4>
                <textarea
                  required
                  name="project-description"
                  rows="5"
                  cols="55"
                  class="modal-inputs description-text-area"
                  id="project-description-input"
                ></textarea>
                <h4>Project Author</h4>
                <input
                  id="project-author-input"
                  class="modal-inputs"
                  name="project-author"
                  required
                />
              </div>
              <button
                id="create-project-modal-btn"
                type="submit"
                class="primary-btn"
              >
                Create Project
              </button>
            </form>
            <button id="create-project-close-modal-btn" class="primary-btn">
              Close
            </button>
          </div>
        </div>
      </main>

      <%- include('_footer') %>
      <script src="/js/home.js"></script>
    </div>
  </body>
</html>
