@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #edeef6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.center-text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.mg-top-10 {
  margin-top: 10px;
}

/* page elements */
header {
  justify-content: space-between;
  background-color: black;
  padding: 10px 10px;
  min-width: 500px;
}
header a {
  color: white;
}

main {
  /* height: 10vh; */
}

/* modal styles */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}
.modal-container.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  width: 600px;
  max-width: 100%;
  background-color: white;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal-inputs {
  width: 100%;
  padding: 10px 20px;
}
.description-text-area {
  font-family: 'Poppins', sans-serif;
}
/* form styles in modal */
.form-input-fields {
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
/* new issue modal */
.modal-checkbox {
  flex-wrap: wrap;
  gap: 5px;
}

/* button styles */
.primary-btn {
  background-color: #47a386;
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-out;
  border: none;
}
.primary-btn:hover {
  background-color: #377e67;
}
.secondary-btn {
  background-color: #5d8aa8;
}
.secondary-btn:hover {
  background-color: #46687e;
}
.delete-btn {
  background-color: #be4156;
}
.delete-btn:hover {
  background-color: #8b2e3d;
}

/* projects display */
#projects-display {
  padding: 20px 0px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.project-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 700px;
  max-width: 100%;
  padding: 20px;
  border-radius: 6px;
}
.project-title {
  font-weight: 700;
}
.project-buttons {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
/* .project-author span {
  text-transform: uppercase;
} */

/* footer styles */
#container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
footer {
  justify-content: flex-end;
  padding: 5px 15px;
  background-color: black;
  margin-top: auto;
}
